registry=https://devops.tetco.sa/DefaultCollection/_packaging/Tetco/npm/registry/
always-auth=true


 ; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 3/26/2024.
; begin auth token
//devops.tetco.sa/DefaultCollection/_packaging/Tetco/npm/registry/:username=Tetco
//devops.tetco.sa/DefaultCollection/_packaging/Tetco/npm/registry/:_password=cXUyNmRtNmhuazNndXk2aGd2enlwNmIyYmZ3ZmF3amJsaHBhc2dlZTVmcm5mbzJmYWRyYQ==
//devops.tetco.sa/DefaultCollection/_packaging/Tetco/npm/registry/:email=mrabah@tetco.sa
//devops.tetco.sa/DefaultCollection/_packaging/Tetco/npm/:username=Tetco
//devops.tetco.sa/DefaultCollection/_packaging/Tetco/npm/:_password=cXUyNmRtNmhuazNndXk2aGd2enlwNmIyYmZ3ZmF3amJsaHBhc2dlZTVmcm5mbzJmYWRyYQ==
//devops.tetco.sa/DefaultCollection/_packaging/Tetco/npm/:email=mrabah@tetco.sa
; end auth token