@tailwind base;
@tailwind components;

@layer base {
    :root {
        --background: theme(colors.gray.100);
        --background-foreground: theme(colors.gray.900);
        --background-secondary: theme(colors.gray.300);
        --foreground: theme(colors.gray.900);
        --overlay: theme(colors.gray.800);
        --foreground-secondary: theme(colors.gray.800);
        --foreground-tertiary: theme(colors.gray.700);

        --card: theme(colors.white);
        --card-foreground: theme(colors.gray.900);
        --card-hover: theme(colors.gray.200);

        --popover: theme(colors.white);
        --popover-foreground: theme(colors.gray.900);

        --primary: theme(colors.cyan.600);
        --primary-foreground: theme(colors.white);
        --primary-light: theme(colors.cyan.300);
        --primary-dark: theme(colors.cyan.700);
        --primary-oncontainer: theme(colors.cyan.900);
        --primary-container: theme(colors.cyan.100);

        --secondary: theme(colors.lavender.600);
        --secondary-foreground: theme(colors.white);
        --secondary-light: theme(colors.lavender.300);
        --secondary-dark: theme(colors.lavender.700);
        --secondary-oncontainer: theme(colors.lavender.900);
        --secondary-container: theme(colors.lavender.100);

        --tertiary: theme(colors.blue.600);
        --tertiary-foreground: theme(colors.white);
        --tertiary-light: theme(colors.blue.300);
        --tertiary-dark: theme(colors.blue.700);
        --tertiary-oncontainer: theme(colors.blue.900);
        --tertiary-container: theme(colors.blue.100);

        --error: theme(colors.red.600);
        --error-foreground: theme(colors.white);
        --error-light: theme(colors.red.300);
        --error-dark: theme(colors.red.700);
        --error-oncontainer: theme(colors.red.900);
        --error-container: theme(colors.red.100);

        --sucess: theme(colors.green.600);
        --sucess-foreground: theme(colors.white);
        --sucess-light: theme(colors.green.300);
        --sucess-dark: theme(colors.green.700);
        --sucess-oncontainer: theme(colors.green.900);
        --sucess-container: theme(colors.green.100);

        --warning: theme(colors.marigold.600);
        --warning-foreground: theme(colors.white);
        --warning-light: theme(colors.marigold.300);
        --warning-dark: theme(colors.marigold.700);
        --warning-oncontainer: theme(colors.marigold.900);
        --warning-container: theme(colors.marigold.100);

        --info: theme(colors.blue.600);
        --info-foreground: theme(colors.white);
        --info-light: theme(colors.blue.300);
        --info-dark: theme(colors.blue.700);
        --info-oncontainer: theme(colors.blue.900);
        --info-container: theme(colors.blue.100);

        --muted: theme(colors.gray.100);
        --muted-foreground: theme(colors.gray.900);

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: theme(colors.red.500);
        --destructive-foreground: theme(colors.white);

        --inverted: theme(colors.gray.900);
        --inverted-secondary: theme(colors.gray.700);
        --inverted-foreground: theme(colors.white);

        --border: theme(colors.gray.400);
        --border-secondary: theme(colors.gray.300);

        --disabled: theme(colors.gray.600);
        --disabled-foreground: theme(colors.gray.50);

        --input: theme(colors.gray.500);
        --ring: theme(colors.gray.900);
        --divider: theme(colors.gray.500);
        --skeleton: theme(colors.gray.400);
        --radius: 12px;
    }

    .dark {
        --background: theme(colors.grayDark.800);
        --background-foreground: theme(colors.grayDark.10);
        --background-secondary: theme(colors.grayDark.700);
        --foreground: theme(colors.white);
        --overlay: theme(colors.grayDark.50);
        --foreground-secondary: theme(colors.grayDark.50);
        --foreground-tertiary: theme(colors.grayDark.100);

        --card: theme(colors.grayDark.900);
        --card-foreground: theme(colors.white);
        --card-hover: theme(colors.grayDark.700);

        --popover: theme(colors.grayDark.900);
        --popover-foreground: theme(colors.white);

        --primary: theme(colors.cyan.500);
        --primary-foreground: theme(colors.white);
        --primary-light: theme(colors.cyan.400);
        --primary-dark: theme(colors.cyan.600);
        --primary-oncontainer: theme(colors.cyan.50);
        --primary-container: theme(colors.cyan.900);

        --secondary: theme(colors.lavender.500);
        --secondary-foreground: theme(colors.white);
        --secondary-light: theme(colors.lavender.400);
        --secondary-dark: theme(colors.lavender.600);
        --secondary-oncontainer: theme(colors.lavender.50);
        --secondary-container: theme(colors.lavender.900);

        --tertiary: theme(colors.blue.500);
        --tertiary-foreground: theme(colors.white);
        --tertiary-light: theme(colors.blue.400);
        --tertiary-dark: theme(colors.blue.600);
        --tertiary-oncontainer: theme(colors.blue.50);
        --tertiary-container: theme(colors.blue.900);

        --error: theme(colors.red.500);
        --error-foreground: theme(colors.white);
        --error-light: theme(colors.red.400);
        --error-dark: theme(colors.red.600);
        --error-oncontainer: theme(colors.red.50);
        --error-container: theme(colors.red.900);

        --sucess: theme(colors.green.500);
        --sucess-foreground: theme(colors.white);
        --sucess-light: theme(colors.green.400);
        --sucess-dark: theme(colors.green.600);
        --sucess-oncontainer: theme(colors.green.50);
        --sucess-container: theme(colors.green.900);

        --warning: theme(colors.marigold.500);
        --warning-foreground: theme(colors.white);
        --warning-light: theme(colors.marigold.400);
        --warning-dark: theme(colors.marigold.600);
        --warning-oncontainer: theme(colors.marigold.50);
        --warning-container: theme(colors.marigold.900);

        --info: theme(colors.blue.500);
        --info-foreground: theme(colors.white);
        --info-light: theme(colors.blue.400);
        --info-dark: theme(colors.blue.600);
        --info-oncontainer: theme(colors.blue.50);
        --info-container: theme(colors.blue.900);

        --muted: theme(colors.grayDark.800);
        --muted-foreground: theme(colors.white);

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: theme(colors.red.500);
        --destructive-foreground: theme(colors.white);

        --inverted: theme(colors.white);
        --inverted-secondary: theme(colors.grayDark.50);
        --inverted-foreground: theme(colors.grayDark.900);

        --border: theme(colors.grayDark.500);
        --border-secondary: theme(colors.grayDark.600);

        --disabled: theme(colors.grayDark.400);
        --disabled-foreground: theme(colors.grayDark.50);

        --input: theme(colors.grayDark.500);
        --ring: theme(colors.gray.900);
        --divider: theme(colors.grayDark.500);
        --skeleton: theme(colors.grayDark.400);
        --radius: 12px;
    }

    [data-theme='parent'] {
        --primary: theme(colors.middleBlue.600);
        --primary-foreground: theme(colors.middleBlue.10);
        --primary-light: theme(colors.middleBlue.300);
        --primary-dark: theme(colors.middleBlue.700);
        --primary-oncontainer: theme(colors.middleBlue.900);
        --primary-container: theme(colors.middleBlue.100);

        --secondary: theme(colors.puertoRico.500);
        --secondary-foreground: theme(colors.puertoRico.10);
        --secondary-light: theme(colors.puertoRico.400);
        --secondary-dark: theme(colors.puertoRico.700);
        --secondary-oncontainer: theme(colors.puertoRico.900);
        --secondary-container: theme(colors.puertoRico.100);

        --tertiary: theme(colors.cyan.600);
        --tertiary-foreground: theme(colors.white);
        --tertiary-light: theme(colors.cyan.300);
        --tertiary-dark: theme(colors.cyan.700);
        --tertiary-oncontainer: theme(colors.cyan.900);
        --tertiary-container: theme(colors.cyan.100);
    }

    [data-theme='parent'].dark {
        --primary: theme(colors.blue.500);
        --primary-foreground: theme(colors.middleBlue.10);
        --primary-light: theme(colors.blue.400);
        --primary-dark: theme(colors.blue.600);
        --primary-oncontainer: theme(colors.blue.50);
        --primary-container: theme(colors.blue.900);

        --secondary: theme(colors.puertoRico.500);
        --secondary-foreground: theme(colors.puertoRico.10);
        --secondary-light: theme(colors.puertoRico.400);
        --secondary-dark: theme(colors.puertoRico.600);
        --secondary-oncontainer: theme(colors.puertoRico.50);
        --secondary-container: theme(colors.puertoRico.900);

        --tertiary: theme(colors.cyan.600);
        --tertiary-foreground: theme(colors.white);
        --tertiary-light: theme(colors.cyan.300);
        --tertiary-dark: theme(colors.cyan.700);
        --tertiary-oncontainer: theme(colors.cyan.900);
        --tertiary-container: theme(colors.cyan.100);
    }

    [data-theme='student'] {
        --primary: theme(colors.lavender.600);
        --primary-foreground: theme(colors.lavender.10);
        --primary-light: theme(colors.lavender.300);
        --primary-dark: theme(colors.lavender.700);
        --primary-oncontainer: theme(colors.lavender.900);
        --primary-container: theme(colors.lavender.100);

        --secondary: theme(colors.olivine.400);
        --secondary-foreground: theme(colors.olivine.10);
        --secondary-light: theme(colors.olivine.300);
        --secondary-dark: theme(colors.olivine.600);
        --secondary-oncontainer: theme(colors.olivine.900);
        --secondary-container: theme(colors.olivine.100);

        --tertiary: theme(colors.cyan.600);
        --tertiary-foreground: theme(colors.white);
        --tertiary-light: theme(colors.cyan.300);
        --tertiary-dark: theme(colors.cyan.700);
        --tertiary-oncontainer: theme(colors.cyan.900);
        --tertiary-container: theme(colors.cyan.100);
    }

    [data-theme='student'].dark {
        --primary: theme(colors.lavender.500);
        --primary-foreground: theme(colors.lavender.10);
        --primary-light: theme(colors.lavender.400);
        --primary-dark: theme(colors.lavender.600);
        --primary-oncontainer: theme(colors.lavender.50);
        --primary-container: theme(colors.lavender.900);

        --secondary: theme(colors.olivine.500);
        --secondary-foreground: theme(colors.olivine.10);
        --secondary-light: theme(colors.olivine.300);
        --secondary-dark: theme(colors.olivine.600);
        --secondary-oncontainer: theme(colors.olivine.50);
        --secondary-container: theme(colors.olivine.900);

        --tertiary: theme(colors.cyan.600);
        --tertiary-foreground: theme(colors.white);
        --tertiary-light: theme(colors.cyan.400);
        --tertiary-dark: theme(colors.cyan.700);
        --tertiary-oncontainer: theme(colors.cyan.900);
        --tertiary-container: theme(colors.cyan.100);
    }

    /* @font-face {
        font-family: 'IBM Light';
        src: url('../fonts/Plex-Sans-Arabic/IBMPlexSansArabic-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    } */
    @font-face {
        font-family: 'IBM Reguler';
        src: url('../fonts/HelveticaNeue/HelveticaNeueW23forSKYReg.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    /* @font-face {
        font-family: 'IBM Meduim';
        src: url('../fonts/Plex-Sans-Arabic/IBMPlexSansArabic-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    } */
    @font-face {
        font-family: 'IBM Bold';
        src: url('../fonts/HelveticaNeue/HelveticaNeueW23forSKYbold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'NotoKufiArabic';
        src: url('../fonts/Noto/NotoKufiArabic.woff2') format('woff2');
        font-weight: 400 700;
        font-stretch: 100%;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'NotoSans';
        src: url('../fonts/Noto/NotoSans.woff2') format('woff2');
        font-weight: 400 700;
        font-stretch: 100%;
        font-display: swap;
        font-style: normal;
    }

    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth text-[55%] sm:text-[62.5%];
    }

    body {
        @apply bg-card text-base text-foreground ltr:font-NotoSans rtl:font-NotoKufiArabic;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition:
            background-color 0s 600000s,
            color 0s 600000s !important;
    }
}

.MuiButtonBase-root.MuiPickersDay-root {
    @apply rounded-1 text-sm hover:bg-primary-container disabled:!text-disabled dark:text-foreground ltr:font-NotoSans rtl:font-NotoKufiArabic;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
    @apply bg-primary;
}
.MuiDayCalendar-header .MuiTypography-caption {
    @apply text-xs text-foreground-secondary;
}
.MuiPickersCalendarHeader-root {
    @apply justify-between;
}
.MuiPickersCalendarHeader-root > div {
    @apply m-0 text-body-01;
}
.MuiButtonBase-root.MuiIconButton-root {
    @apply text-body-01 dark:text-foreground rtl:rotate-180;
}

.MuiPickersYear-root .MuiPickersYear-yearButton {
    @apply text-body-01 hover:bg-primary-container;
}
.MuiPickersYear-root .MuiPickersYear-yearButton.Mui-selected {
    @apply !bg-primary;
}

.Mui-disabled.MuiPickersDay-today {
    @apply !border-transparent;
}
