@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 97%;
        --foreground: 0 0% 6%;
        --foreground-secondary: 170, 8%, 14%, 0.74;
        --foreground-tertiary: 170, 6%, 22%, 0.6;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --card-hover: 0, 0%, 49%, 0.05;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 169 75% 39%;
        --primary-foreground: 0 0% 100%;
        --primary-light: 169 49% 75%;
        --primary-dark: 169 74% 29%;
        --primary-oncontainer: 170 78% 16%;
        --primary-container: 173 64% 97%;

        --secondary: 256 51% 62%;
        --secondary-foreground: 0 0% 100%;
        --secondary-light: 255 51% 73%;
        --secondary-dark: 256 51% 37%;
        --secondary-oncontainer: 256 52% 19%;
        --secondary-container: 249 72% 96%;

        --tertiary: 187 59% 56%;
        --tertiary-foreground: 0 0% 100%;
        --tertiary-light: 186 58% 73%;
        --tertiary-dark: 186 57% 37%;
        --tertiary-oncontainer: 186 59% 19%;
        --tertiary-container: 184 75% 96%;

        --error: 359 82% 55%;
        --error-foreground: 0 0% 100%;
        --error-light: 359 82% 73%;
        --error-dark: 359 81% 37%;
        --error-oncontainer: 358 83% 19%;
        --error-container: 0 77% 95%;

        --sucess: 139 36% 44%;
        --sucess-foreground: 0 0% 100%;
        --sucess-light: 140 29% 73%;
        --sucess-dark: 169 74% 29%;
        --sucess-oncontainer: 138 42% 21%;
        --sucess-container: 136 27% 92%;

        --warning: 36 91% 55%;
        --warning-foreground: 0 0% 100%;
        --warning-light: 36 91% 73%;
        --warning-dark: 36 91% 37%;
        --warning-oncontainer: 36 92% 19%;
        --warning-container: 37 92% 95%;

        --info: 213 100% 55%;
        --info-foreground: 0 0% 100%;
        --info-light: 213 100% 73%;
        --info-dark: 213 100% 37%;
        --info-oncontainer: 212 100% 19%;
        --info-container: 214 100% 95%;

        --muted: 0 0% 98%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 170, 5%, 22%, 0.2;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --disabled: 230, 6%, 24%, 0.3;

        --radius: 12px;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }

    @font-face {
        font-family: 'IBM Light';
        src: url('../fonts/Plex-Sans-Arabic/IBMPlexSansArabic-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'IBM Reguler';
        src: url('../fonts/Plex-Sans-Arabic/IBMPlexSansArabic-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'IBM Meduim';
        src: url('../fonts/Plex-Sans-Arabic/IBMPlexSansArabic-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'IBM Bold';
        src: url('../fonts/Plex-Sans-Arabic/IBMPlexSansArabic-Bold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-card text-foreground text-base font-IBMReguler;
    }
}

@layer utilities {
    .title-01 {
        @apply text-[2rem] leading-[3rem] lg:text-[2.4rem] lg:leading-[3.2rem];
    }
    .title-02 {
        @apply text-[2.4rem] leading-[3.6rem] font-semibold lg:text-[3.2rem] lg:leading-[4rem];
    }
    .title-03 {
        @apply text-[2.8rem] leading-[4.2rem] md:text-[4rem] md:leading-[5.2rem] md:font-light  lg:text-[4.8rem] lg:leading-[6rem];
    }
    .display-01 {
        @apply text-[3.2rem] leading-[4.4rem] md:text-[4.8rem] md:leading-[6rem] font-semibold  lg:text-[6.4rem] lg:leading-[7.8rem];
    }
    .display-02 {
        @apply text-[4.2rem] leading-[5.4rem] md:text-[5.4rem] md:leading-[7rem] font-semibold  lg:text-[8.4rem] lg:leading-[9.8rem];
    }
    .dsgrid {
        @apply grid grid-cols-4 gap-space-04 md:grid-cols-8 lg:grid-cols-12 lg:gap-space-05;
    }
}
