@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');

:root {
    --sidebar-width: 88px;
    --sidebar-width-mobile: 320px;
    --sidebar-width-icon: 3rem;
    --container-size: 1280px;

    --background: theme(colors.neutral.50);
    --background-foreground: theme(colors.black);
    --background-secondary: theme(colors.neutral.100);
    --background-brand: theme(colors.cyan.25);
    --foreground: theme(colors.black);
    --overlay: theme(colors.alpha.black-60);
    --foreground-secondary: theme(colors.neutral.700);
    --foreground-tertiary: theme(colors.neutral.500);

    --card: theme(colors.white);
    --card-foreground: theme(colors.black);
    --card-hover: theme(colors.neutral.200);
    --card-active: theme(colors.neutral.300);
    --popover: theme(colors.white);
    --popover-foreground: theme(colors.black);

    --primary: theme(colors.cyan.600);
    --primary-foreground: theme(colors.white);
    --primary-light: theme(colors.cyan.300);
    --primary-dark: theme(colors.cyan.700);
    --primary-oncontainer: theme(colors.cyan.900);
    --primary-container: theme(colors.cyan.100);

    --secondary: theme(colors.gold.600);
    --secondary-foreground: theme(colors.white);
    --secondary-light: theme(colors.gold.300);
    --secondary-dark: theme(colors.gold.700);
    --secondary-oncontainer: theme(colors.gold.900);
    --secondary-container: theme(colors.gold.100);

    --tertiary: theme(colors.lavender.600);
    --tertiary-foreground: theme(colors.white);
    --tertiary-light: theme(colors.lavender.300);
    --tertiary-dark: theme(colors.lavender.700);
    --tertiary-oncontainer: theme(colors.lavender.900);
    --tertiary-container: theme(colors.lavender.100);

    --error: theme(colors.red.600);
    --error-foreground: theme(colors.white);
    --error-light: theme(colors.red.300);
    --error-dark: theme(colors.red.700);
    --error-oncontainer: theme(colors.red.900);
    --error-container: theme(colors.red.100);

    --sucess: theme(colors.green.600);
    --sucess-foreground: theme(colors.white);
    --sucess-light: theme(colors.green.300);
    --sucess-dark: theme(colors.green.700);
    --sucess-oncontainer: theme(colors.green.900);
    --sucess-container: theme(colors.green.100);

    --warning: theme(colors.marigold.600);
    --warning-foreground: theme(colors.white);
    --warning-light: theme(colors.marigold.300);
    --warning-dark: theme(colors.marigold.700);
    --warning-oncontainer: theme(colors.marigold.900);
    --warning-container: theme(colors.marigold.100);

    --info: theme(colors.blue.600);
    --info-foreground: theme(colors.white);
    --info-light: theme(colors.blue.300);
    --info-dark: theme(colors.blue.700);
    --info-oncontainer: theme(colors.blue.900);
    --info-container: theme(colors.blue.100);

    --muted: theme(colors.white);
    --muted-foreground: theme(colors.black);

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: theme(colors.red.500);
    --destructive-foreground: theme(colors.white);

    --inverted: theme(colors.black);
    --inverted-secondary: theme(colors.gray.700);
    --inverted-foreground: theme(colors.white);

    --border: theme(colors.neutral.200);
    --border-secondary: theme(colors.neutral.300);

    --disabled: theme(colors.neutral.400);
    --disabled-foreground: theme(colors.neutral.50);
    --disabled-control-disabled: theme(colors.neutral.400);
    --disabled-border-disabled: theme(colors.neutral.400);

    --input: theme(colors.neutral.400);
    --ring: theme(colors.gray.900);
    --divider: theme(colors.gray.500);
    --skeleton: theme(colors.neutral.400);
    --radius: 12px;

    /* dga */
    --primary-10: theme(colors.cyan.10);
    --primary-25: theme(colors.cyan.25);
    --primary-50: theme(colors.cyan.50);
    --primary-100: theme(colors.cyan.100);
    --primary-200: theme(colors.cyan.200);
    --primary-300: theme(colors.cyan.300);
    --primary-400: theme(colors.cyan.400);
    --primary-500: theme(colors.cyan.500);
    --primary-600: theme(colors.cyan.600);
    --primary-700: theme(colors.cyan.700);
    --primary-800: theme(colors.cyan.800);
    --primary-900: theme(colors.cyan.900);
    --primary-950: theme(colors.cyan.950);

    --secondary-10: theme(colors.gold.10);
    --secondary-25: theme(colors.gold.25);
    --secondary-50: theme(colors.gold.50);
    --secondary-100: theme(colors.gold.100);
    --secondary-200: theme(colors.gold.200);
    --secondary-300: theme(colors.gold.300);
    --secondary-400: theme(colors.gold.400);
    --secondary-500: theme(colors.gold.500);
    --secondary-600: theme(colors.gold.600);
    --secondary-700: theme(colors.gold.700);
    --secondary-800: theme(colors.gold.800);
    --secondary-900: theme(colors.gold.900);
    --secondary-950: theme(colors.gold.950);

    --tertiary-10: theme(colors.lavender.10);
    --tertiary-25: theme(colors.lavender.25);
    --tertiary-50: theme(colors.lavender.50);
    --tertiary-100: theme(colors.lavender.100);
    --tertiary-200: theme(colors.lavender.200);
    --tertiary-300: theme(colors.lavender.300);
    --tertiary-400: theme(colors.lavender.400);
    --tertiary-500: theme(colors.lavender.500);
    --tertiary-600: theme(colors.lavender.600);
    --tertiary-700: theme(colors.lavender.700);
    --tertiary-800: theme(colors.lavender.800);
    --tertiary-900: theme(colors.lavender.900);
    --tertiary-950: theme(colors.lavender.950);

    /* Text */
    --text-default: theme(colors.black);
    --text-primary: var(--primary-600);
    --text-secondary: var(--secondary-600);
    --text-tertiary: var(--tertiary-600);
    --text-primary-sa-flag: var(--primary-800);
    --text-display: theme(colors.neutral.800);
    --text-paragraph-primary: theme(colors.neutral.700);
    --text-paragraph-secondary: theme(colors.neutral.500);
    --text-oncolor-primary: theme(colors.white);
    --text-oncolor-secondary: theme(colors.alpha.white-80);
    --text-oncolor-tertiary: theme(colors.alpha.white-70);
    --text-success: theme(colors.green.700);
    --text-info: theme(colors.blue.700);
    --text-warning: theme(colors.marigold.700);
    --text-error: theme(colors.red.700);
    --text-primary-light: var(--primary-300);
    --text-secondary-light: var(--secondary-300);
    --text-tertiary-light: var(--tertiary-300);
    --text-default-disabled: theme(colors.neutral.400);
    --text-default-oncolor-disabled: theme(colors.alpha.white-40);
    --text-always-black: theme(colors.black);
    --text-always-white: theme(colors.white);

    /* form */
    --text-form-title: var(--text-default);
    --text-form-paragraph: var(--text-paragraph-secondary);
    --field-text-label: var(--text-default);
    --field-text-placeholder: var(--text-paragraph-secondary);
    --field-text-hovered: var(--text-default);
    --field-text-focused: var(--text-paragraph-primary);
    --field-text-pressed: var(--text-paragraph-primary);
    --field-text-filled: var(--text-default);
    --field-text-readonly: var(--text-default);
    --field-text-helper: var(--text-paragraph-secondary);
    --field-background-default: var(--background-card);
    --field-background-lighter: theme(colors.neutral.25);
    --field-background-darker: theme(colors.neutral.100);
    --field-background-pressed: theme(colors.neutral.100);
    --field-border-default: theme(colors.neutral.400);
    --field-border-hovered: theme(colors.neutral.700);
    --field-border-pressed: theme(colors.neutral.950);
    --field-border-error: var(--border-error);

    /* border */
    --border-primary: theme(colors.neutral.200);
    --border-secondary: theme(colors.neutral.300);
    --border-white: theme(colors.white);
    --border-white-40: theme(colors.alpha.white-40);
    --border-black: theme(colors.black);
    --border-primary-default: var(--primary-600);
    --border-primary-light: var(--primary-200);
    --border-secondary-default: var(--secondary-600);
    --border-secondary-light: var(--secondary-200);
    --border-tertiary: var(--tertiary-500);
    --border-tertiary-light: var(--tertiary-200);
    --border-neutral-primary: theme(colors.neutral.300);
    --border-neutral-secondary: theme(colors.neutral.200);
    --border-neutral-tertiary: theme(colors.neutral.100);
    --border-background-white: theme(colors.neutral.100);
    --border-background-neutral: theme(colors.neutral.300);
    --border-transparent-10: theme(colors.alpha.white-10);
    --border-oncolor-transparent-30: theme(colors.alpha.white-30);
    --border-success: theme(colors.green.700);
    --border-success-light: theme(colors.green.200);
    --border-info: theme(colors.blue.700);
    --border-info-light: theme(colors.blue.200);
    --border-warning: theme(colors.marigold.700);
    --border-warning-light: theme(colors.marigold.200);
    --border-error: theme(colors.red.700);
    --border-error-light: theme(colors.red.200);
    --border-disabled: theme(colors.neutral.300);

    /* control */
    --control-primary: theme(colors.white);
    --control-primary-checked: var(--primary-600);
    --control-primary-hovered: var(--primary-800);
    --control-primary-pressed: var(--primary-900);
    --control-primary-focused: var(--primary-600);
    --control-neutral-checked: theme(colors.neutral.950);
    --control-neutral-hovered: theme(colors.neutral.600);
    --control-neutral-pressed: theme(colors.neutral.500);
    --control-neutral-focused: theme(colors.neutral.950);
    --control-primary--readonly: theme(colors.white);
    --control-pressed: theme(colors.neutral.300);
    --control-ripple-effect: theme(colors.neutral.100);
    --control-border: theme(colors.neutral.500);
    --control-icon-hovered: theme(colors.white);
    --control-icon-pressed: theme(colors.white);
    --control-icon-disabled: theme(colors.white);
    --control-border-disabled: theme(colors.neutral.400);
    --control-disabled: theme(colors.neutral.300);

    /* tag */
    --tag-background-neutral: theme(colors.neutral.600);
    --tag-background-neutral-light: theme(colors.neutral.50);
    --tag-background-on-color: theme(colors.alpha.white-20);
    --tag-text-neutral: theme(colors.neutral.800);
    --tag-text-success: theme(colors.green.800);
    --tag-text-info: theme(colors.blue.800);
    --tag-text-warning: theme(colors.marigold.800);
    --tag-text-error: theme(colors.red.800);
    --tag-text-primary: var(--primary-800);
    --tag-text-secondary: var(--secondary-800);
    --tag-icon-primary: var(--primary-800);
    --tag-icon-secondary: var(--secondary-800);
    --tag-icon-tertiary: var(--tertiary-800);
    --tag-text-tertiary: var(--tertiary-800);
    --tag-icon-neutral: theme(colors.neutral.800);
    --tag-icon-success: theme(colors.green.800);
    --tag-icon-info: theme(colors.blue.800);
    --tag-icon-warning: theme(colors.marigold.800);
    --tag-icon-error: theme(colors.red.800);
    --tag-background-success: theme(colors.green.700);
    --tag-background-success-light: theme(colors.green.50);
    --tag-background-info: theme(colors.blue.600);
    --tag-background-info-light: theme(colors.blue.50);
    --tag-background-warning: theme(colors.marigold.700);
    --tag-background-warning-light: theme(colors.marigold.50);
    --tag-background-error: theme(colors.red.600);
    --tag-background-error-light: theme(colors.red.50);
    --tag-background-primary: var(--primary-600);
    --tag-background-primary-light: var(--primary-50);
    --tag-background-secondary: var(--secondary-600);
    --tag-background-secondary-light: var(--secondary-50);
    --tag-background-tertiary: var(--tertiary-600);
    --tag-background-tertiary-light: var(--tertiary-50);
    --tag-border-neutral: theme(colors.neutral.600);
    --tag-border-neutral-light: theme(colors.neutral.50);
    --tag-border-on-color: theme(colors.alpha.white-60);
    --tag-border-success: theme(colors.green.700);
    --tag-border-success-light: theme(colors.green.200);
    --tag-border-info: theme(colors.blue.700);
    --tag-border-info-light: theme(colors.blue.200);
    --tag-border-warning: theme(colors.marigold.700);
    --tag-border-warning-light: theme(colors.marigold.200);
    --tag-border-error: theme(colors.red.700);
    --tag-border-error-light: theme(colors.red.200);
    --tag-border-primary: var(--primary-700);
    --tag-border-primary-light: var(--primary-200);
    --tag-border-secondary: var(--secondary-700);
    --tag-border-secondary-light: var(--secondary-200);
    --tag-border-tertiary: var(--tertiary-700);
    --tag-border-tertiary-light: var(--tertiary-200);
    --tag-dot: theme(colors.alpha.white-60);

    /* icon */
    --icon-oncolor: theme(colors.white);
    --icon-default: theme(colors.black);
    --icon-default-500: theme(colors.neutral.500);
    --icon-default-400: theme(colors.neutral.400);
    --icon-primary: var(--primary-600);
    --icon-primary-light: var(--primary-50);
    --icon-primary-400: var(--primary-400);
    --icon-neutral: theme(colors.neutral.700);
    --icon-neutral-light: theme(colors.neutral.50);
    --icon-secondary: var(--secondary-600);
    --icon-secondary-light: var(--secondary-50);
    --icon-tertiary: var(--tertiary-500);
    --icon-tertiary-light: var(--tertiary-50);
    --icon-success: theme(colors.green.700);
    --icon-success-light: theme(colors.green.50);
    --icon-info: theme(colors.blue.700);
    --icon-info-light: theme(colors.blue.50);
    --icon-warning: theme(colors.marigold.700);
    --icon-warning-light: theme(colors.marigold.50);
    --icon-error: theme(colors.red.700);
    --icon-error-light: theme(colors.red.50);
    --background-warning-light: var(--background-warning-50);
    --background-error-light: var(--background-error-50);
    --background-primary-light: var(--background-primary-50);
    --background-info-light: var(--background-info-50);
    --background-success-light: var(--background-success-50);
    --unselected-tab-icon: theme(colors.neutral.700);
    --icon-default-disabled: theme(colors.neutral.400);
    --icon-default-oncolor-disabled: theme(colors.alpha.white-40);

    /* background  */
    --background-white: theme(colors.white);
    --background-body: theme(colors.neutral.50);
    --background-menu: theme(colors.white);
    --background-muted: theme(colors.neutral.25);
    --background-card: theme(colors.white);
    --surface-oncolor: theme(colors.black);
    --background-black: theme(colors.black);
    --background-neutral-800: theme(colors.neutral.800);
    --background-neutral-400: theme(colors.neutral.400);
    --background-neutral-300: theme(colors.neutral.300);
    --background-neutral-200: theme(colors.neutral.200);
    --background-neutral-100: theme(colors.neutral.100);
    --background-neutral-50: theme(colors.neutral.50);
    --background-neutral-25: theme(colors.neutral.25);
    --background-primary: var(--primary-600);
    --background-primary-400: var(--primary-400);
    --background-primary-200: var(--primary-200);
    --background-primary-50: var(--primary-50);
    --background-primary-25: var(--primary-25);
    --background-secondary-default: var(--secondary-600);
    --background-secondary-50: var(--secondary-50);
    --background-secondary-25: var(--secondary-25);
    --background-tertiary: var(--tertiary-600);
    --background-tertiary-50: var(--tertiary-50);
    --background-tertiary-25: var(--tertiary-25);
    --background-success: theme(colors.green.600);
    --background-success-50: theme(colors.green.50);
    --background-success-25: theme(colors.green.25);
    --background-info: theme(colors.blue.600);
    --background-info-50: theme(colors.blue.50);
    --background-info-25: theme(colors.blue.25);
    --background-warning: theme(colors.marigold.600);
    --background-warning-50: theme(colors.marigold.50);
    --background-warning-25: theme(colors.marigold.25);
    --background-error: theme(colors.red.600);
    --background-error-50: theme(colors.red.50);
    --background-error-25: theme(colors.red.25);
    --background-SA-Flag: theme(colors.green.900);
    --background-SA-Flag-50: theme(colors.green.50);
    --background-SA-Flag-25: theme(colors.green.25);
    --background-notification-white: theme(colors.white);
    --background-nav-header: var(--primary-800);
    --background-disabled: theme(colors.neutral.200);
    --background-disabled-primary: var(--primary-200);
    --background-inverse-disabled: theme(colors.neutral.100);

    /* button  */
    --background-black-default: theme(colors.neutral.950);
    --background-black-hovered: theme(colors.neutral.800);
    --background-black-pressed: theme(colors.neutral.600);
    --background-black-selected: theme(colors.neutral.700);
    --background-black-focused: theme(colors.neutral.950);
    /* Primary Background Variables */
    --background-primary-default: var(--primary-600);
    --background-primary-hovered: var(--primary-700);
    --background-primary-pressed: var(--primary-900);
    --background-primary-selected: var(--primary-800);
    --background-primary-focused: var(--primary-600);
    /* Neutral Background Variables - Light Theme */
    --background-neutral-default: theme(colors.neutral.100);
    --background-neutral-hovered: theme(colors.neutral.100);
    --background-neutral-pressed: theme(colors.neutral.200);
    --background-neutral-selected: theme(colors.neutral.200);
    --background-neutral-focused: theme(colors.neutral.100);
    /* Error Background Variables */
    --background-error-default: theme(colors.red.600);
    --background-error-hovered: theme(colors.red.700);
    --background-error-pressed: theme(colors.red.900);
    --background-error-selected: theme(colors.red.800);
    --background-error-focused: theme(colors.red.600);
    /* Label Error Primary */
    --label-error-primary-oncolor-1: theme(colors.red.200);
    --label-error-primary-oncolor-2: theme(colors.red.300);
    --label-error-primary-oncolor-3: theme(colors.red.400);
    /* Background Error Secondary */
    --background-error-secondary-default: theme(colors.red.50);
    --background-error-secondary-hovered: theme(colors.red.100);
    --background-error-secondary-pressed: theme(colors.red.200);
    --background-error-secondary-selected: theme(colors.red.50);
    --background-error-secondary-focused: theme(colors.red.50);
    /* Background Primary  */
    --background-primary-light-default: var(--primary-50);
    --background-primary-light-hovered: var(--primary-100);
    --background-primary-light-pressed: var(--primary-200);
    --background-primary-light-selected: var(--primary-50);
    --background-primary-light-focused: var(--primary-50);
    /* Background Oncolor */
    --background-oncolor-default: theme(colors.white);
    --background-oncolor-hovered: theme(colors.alpha.white-80);
    --background-oncolor-pressed: theme(colors.alpha.white-60);
    --background-oncolor-selected: theme(colors.alpha.white-70);
    --background-oncolor-focused: theme(colors.alpha.white-100);
    /* Background Transparent */
    --background-transparent-default: theme(colors.alpha.white-0);
    --background-transparent-hovered: theme(colors.alpha.white-20);
    --background-transparent-pressed: theme(colors.alpha.white-40);
    --background-transparent-selected: theme(colors.alpha.white-30);
    --background-transparent-focused: theme(colors.alpha.white-0);
    /* Background Disabled */
    --background-disabled-oncolor: theme(colors.alpha.white-20);
    /* Label Transparent */
    --label-transparent-hover-oncolor: var(--primary-400);
    --label-transparent-pressed-oncolor: var(--primary-300);
    --label-transparent-selected-oncolor: var(--primary-400);
    /* Icon Transparent */
    --icon-transparent-hover-oncolor: var(--primary-400);
    --icon-transparent-pressed-oncolor: var(--primary-300);
    --icon-transparent-selected-oncolor: var(--primary-400);

    /* link */
    /* Primary Link Colors */
    --link-primary: var(--primary-600);
    --link-primary-hovered: var(--primary-400);
    --link-primary-pressed: var(--primary-300);
    --link-primary-focused: var(--primary-600);
    --link-primary-visited: var(--primary-800);
    /* Primary Icon Link Colors */
    --link-icon-primary-hovered: var(--primary-400);
    --link-icon-primary-pressed: var(--primary-300);
    --link-icon-primary-focused: var(--primary-600);
    --link-icon-primary-visited: var(--primary-800);
    /* Neutral Link Colors */
    --link-neutral: theme(colors.neutral.700);
    --link-neutral-hovered: theme(colors.neutral.500);
    --link-neutral-pressed: theme(colors.neutral.400);
    --link-neutral-focused: theme(colors.neutral.700);
    --link-neutral-visited: theme(colors.neutral.600);
    /* Neutral Icon Link Colors */
    --link-icon-neutral-hovered: theme(colors.neutral.500);
    --link-icon-neutral-pressed: theme(colors.neutral.400);
    --link-icon-neutral-focused: theme(colors.neutral.700);
    --link-icon-neutral-visited: theme(colors.neutral.600);
    /* On-Color Link Colors */
    --link-oncolor: theme(colors.white);
    --link-oncolor-hovered: theme(colors.alpha.white-80);
    --link-icon-oncolor-hovered: theme(colors.alpha.white-80);
    --link-oncolor-pressed: theme(colors.alpha.white-60);
    --link-icon-oncolor-pressed: theme(colors.alpha.white-60);
    --link-oncolor-focused: theme(colors.white);
    --link-oncolor-visited: theme(colors.alpha.white-90);
    --link-icon-oncolor-visited: theme(colors.alpha.white-90);
    --link-oncolor-disabled: theme(colors.alpha.white-30);
    --link-icon-oncolor-disabled: theme(colors.alpha.white-30);
    /* Error Link States */
    --link-error: theme(colors.red.600);
    --link-error-hovered: theme(colors.red.700);
    --link-icon-error-hovered: theme(colors.red.700);
    --link-error-pressed: theme(colors.red.900);
    --link-icon-error-pressed: theme(colors.red.900);
    --link-error-focused: theme(colors.red.800);
    --link-icon-error-focused: theme(colors.red.800);
    --link-error-visited: theme(colors.red.600);
    --link-icon-error-visited: theme(colors.red.600);
    /* Secondary Link States */
    --link-secondary: var(--secondary-600);
    --link-secondary-hovered: var(--secondary-400);
    --link-secondary-pressed: var(--secondary-300);
    --link-secondary-focused: var(--secondary-600);
    --link-secondary-visited: var(--secondary-900);
    /* Tertiary Link States */
    --link-tertiary: var(--tertiary-500);
    --link-tertiary-hovered: var(--tertiary-400);
    --link-tertiary-pressed: var(--tertiary-300);
    --link-tertiary-focused: var(--tertiary-500);
    --link-tertiary-visited: var(--tertiary-800);

    /* table */
    --table-background-row-alt: theme(colors.neutral.50);
    --table-background-row-hovered: theme(colors.neutral.100);
    --table-background-row-select: var(--primary-50);
    --table-background-row-selected-hovered: var(--primary-50);
    --table-border-row-selected-hovered: theme(colors.neutral.100);
    --table-background-row: theme(colors.neutral.50);
    --table-background-header: theme(colors.neutral.100);
    --table-background-hover-selected: theme(colors.neutral.50);
    --table-background-disabled: var(--background-disabled);
    --table-text-body: var(--text-default);
    --table-text-head: theme(colors.neutral.700);
    --table-cell-border-inverse: var(--border-black);
    --table-cell-border: theme(colors.neutral.300);
}

.dark {
    --background: theme(colors.neutral.900);
    --background-foreground: theme(colors.white);
    --background-secondary: theme(colors.neutral.900);
    --background-brand: theme(colors.neutral.900);
    --foreground: theme(colors.neutral.300);
    --overlay: theme(colors.alpha.black-70);
    --foreground-secondary: theme(colors.neutral.100);
    --foreground-tertiary: theme(colors.neutral.200);

    --card: theme(colors.neutral.800);
    --card-foreground: theme(colors.white);
    --card-hover: theme(colors.neutral.700);
    --card-active: theme(colors.neutral.900);
    --popover: theme(colors.black);
    --popover-foreground: theme(colors.white);

    --primary: theme(colors.cyan.500);
    --primary-foreground: theme(colors.white);
    --primary-light: theme(colors.cyan.400);
    --primary-dark: theme(colors.cyan.600);
    --primary-oncontainer: theme(colors.cyan.50);
    --primary-container: theme(colors.cyan.900);

    --secondary: theme(colors.lavender.500);
    --secondary-foreground: theme(colors.white);
    --secondary-light: theme(colors.lavender.400);
    --secondary-dark: theme(colors.lavender.600);
    --secondary-oncontainer: theme(colors.lavender.50);
    --secondary-container: theme(colors.lavender.900);

    --tertiary: theme(colors.blue.500);
    --tertiary-foreground: theme(colors.white);
    --tertiary-light: theme(colors.blue.400);
    --tertiary-dark: theme(colors.blue.600);
    --tertiary-oncontainer: theme(colors.blue.50);
    --tertiary-container: theme(colors.blue.900);

    --error: theme(colors.red.500);
    --error-foreground: theme(colors.white);
    --error-light: theme(colors.red.400);
    --error-dark: theme(colors.red.600);
    --error-oncontainer: theme(colors.red.50);
    --error-container: theme(colors.red.900);

    --sucess: theme(colors.green.500);
    --sucess-foreground: theme(colors.white);
    --sucess-light: theme(colors.green.400);
    --sucess-dark: theme(colors.green.600);
    --sucess-oncontainer: theme(colors.green.50);
    --sucess-container: theme(colors.green.900);

    --warning: theme(colors.marigold.500);
    --warning-foreground: theme(colors.white);
    --warning-light: theme(colors.marigold.400);
    --warning-dark: theme(colors.marigold.600);
    --warning-oncontainer: theme(colors.marigold.50);
    --warning-container: theme(colors.marigold.900);

    --info: theme(colors.blue.500);
    --info-foreground: theme(colors.white);
    --info-light: theme(colors.blue.400);
    --info-dark: theme(colors.blue.600);
    --info-oncontainer: theme(colors.blue.50);
    --info-container: theme(colors.blue.900);

    --muted: theme(colors.black);
    --muted-foreground: theme(colors.white);

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: theme(colors.red.500);
    --destructive-foreground: theme(colors.white);

    --inverted: theme(colors.white);
    --inverted-secondary: theme(colors.grayDark.50);
    --inverted-foreground: theme(colors.grayDark.900);

    --border: theme(colors.neutral.500);
    --border-secondary: theme(colors.neutral.600);

    --disabled: theme(colors.neutral.400);
    --disabled-foreground: theme(colors.neutral.50);
    --disabled-control-disabled: theme(colors.alpha.white-30);
    --disabled-border-disabled: theme(colors.neutral.400);

    --input: theme(colors.neutral.500);
    --ring: theme(colors.gray.900);
    --divider: theme(colors.neutral.500);
    --skeleton: theme(colors.neutral.400);
    --radius: 12px;

    /* dga */

    /* Text */
    --text-default: theme(colors.white);
    --text-primary: var(--primary-400);
    --text-secondary: var(--secondary-400);
    --text-tertiary: var(--tertiary-400);
    --text-primary-sa-flag: var(--primary-100);
    --text-display: theme(colors.neutral.50);
    --text-paragraph-primary: theme(colors.neutral.100);
    --text-paragraph-secondary: theme(colors.neutral.200);
    --text-oncolor-primary: theme(colors.white);
    --text-oncolor-secondary: theme(colors.alpha.black-80);
    --text-oncolor-tertiary: theme(colors.alpha.black-70);
    --text-success: theme(colors.green.400);
    --text-info: theme(colors.blue.400);
    --text-warning: theme(colors.marigold.400);
    --text-error: theme(colors.red.400);
    --text-primary-light: var(--primary-300);
    --text-secondary-light: var(--secondary-400);
    --text-tertiary-light: var(--tertiary-400);
    --text-default-disabled: theme(colors.neutral.400);
    --text-default-oncolor-disabled: theme(colors.alpha.black-40);
    --text-always-black: theme(colors.black);
    --text-always-white: theme(colors.white);

    /* form */
    --text-form-title: var(--text-default);
    --text-form-paragraph: var(--text-paragraph-secondary);
    --field-text-label: var(--text-default);
    --field-text-placeholder: var(--text-paragraph-secondary);
    --field-text-hovered: var(--text-default);
    --field-text-focused: var(--text-paragraph-primary);
    --field-text-pressed: var(--text-paragraph-primary);
    --field-text-filled: var(--text-default);
    --field-text-readonly: var(--text-default);
    --field-text-helper: var(--text-paragraph-secondary);
    --field-background-default: theme(colors.neutral.800);
    --field-background-lighter: theme(colors.neutral.600);
    --field-background-darker: theme(colors.neutral.800);
    --field-background-pressed: theme(colors.neutral.600);
    --field-border-default: theme(colors.neutral.500);
    --field-border-hovered: theme(colors.neutral.200);
    --field-border-pressed: theme(colors.neutral.25);

    /* border */
    --border-primary: theme(colors.neutral.500);
    --border-secondary: theme(colors.neutral.600);
    --border-white: theme(colors.black);
    --border-white-40: theme(colors.alpha.black-40);
    --border-black: theme(colors.white);
    --border-primary-default: var(--primary-600);
    --border-primary-light: var(--primary-200);
    --border-secondary-default: var(--secondary-600);
    --border-secondary-light: var(--secondary-200);
    --border-tertiary: var(--tertiary-500);
    --border-tertiary-light: var(--tertiary-200);
    --border-neutral-primary: theme(colors.neutral.500);
    --border-neutral-secondary: theme(colors.neutral.700);
    --border-neutral-tertiary: theme(colors.neutral.800);
    --border-background-white: theme(colors.neutral.600);
    --border-background-neutral: theme(colors.neutral.600);
    --border-transparent-10: theme(colors.alpha.black-10);
    --border-oncolor-transparent-30: theme(colors.alpha.white-30);
    --border-success: theme(colors.green.500);
    --border-success-light: theme(colors.green.200);
    --border-info: theme(colors.blue.700);
    --border-info-light: theme(colors.blue.200);
    --border-warning: theme(colors.marigold.700);
    --border-warning-light: theme(colors.marigold.200);
    --border-error: theme(colors.red.700);
    --border-error-light: theme(colors.red.200);
    --border-disabled: theme(colors.neutral.500);

    /* control */
    --control-primary: theme(colors.alpha.black-0);
    --control-primary-checked: var(--primary-600);
    --control-primary-hovered: var(--primary-300);
    --control-primary-pressed: var(--primary-400);
    --control-primary-focused: var(--primary-600);
    --control-neutral-checked: theme(colors.neutral.600);
    --control-neutral-hovered: theme(colors.neutral.400);
    --control-neutral-pressed: theme(colors.neutral.400);
    --control-neutral-focused: theme(colors.neutral.600);
    --control-primary--readonly: theme(colors.alpha.black-0);
    --control-pressed: theme(colors.neutral.600);
    --control-ripple-effect: theme(colors.neutral.900);
    --control-border: theme(colors.neutral.400);
    --control-icon-hovered: var(--primary-800);
    --control-icon-pressed: var(--primary-800);
    --control-icon-disabled: theme(colors.neutral.400);
    --control-border-disabled: theme(colors.alpha.white-30);
    --control-disabled: theme(colors.neutral.300);

    /* tag */
    --tag-background-neutral: var(--primary-600);
    --tag-background-neutral-light: theme(colors.neutral.800);
    --tag-background-on-color: theme(colors.alpha.white-20);
    --tag-text-neutral: theme(colors.neutral.100);
    --tag-text-success: theme(colors.green.800);
    --tag-text-info: theme(colors.blue.800);
    --tag-text-warning: theme(colors.marigold.800);
    --tag-text-error: theme(colors.red.800);
    --tag-text-primary: var(--primary-800);
    --tag-text-secondary: var(--secondary-800);
    --tag-icon-primary: var(--primary-800);
    --tag-icon-secondary: var(--secondary-800);
    --tag-icon-tertiary: var(--tertiary-800);
    --tag-text-tertiary: var(--tertiary-800);
    --tag-icon-neutral: theme(colors.neutral.100);
    --tag-icon-success: theme(colors.green.800);
    --tag-icon-info: theme(colors.blue.800);
    --tag-icon-warning: theme(colors.marigold.800);
    --tag-icon-error: theme(colors.red.800);
    --tag-background-success: theme(colors.green.700);
    --tag-background-success-light: theme(colors.green.50);
    --tag-background-info: theme(colors.blue.600);
    --tag-background-info-light: theme(colors.blue.50);
    --tag-background-warning: theme(colors.marigold.700);
    --tag-background-warning-light: theme(colors.marigold.50);
    --tag-background-error: theme(colors.red.600);
    --tag-background-error-light: theme(colors.red.50);
    --tag-background-primary: var(--primary-600);
    --tag-background-primary-light: var(--primary-50);
    --tag-background-secondary: var(--secondary-600);
    --tag-background-secondary-light: var(--secondary-50);
    --tag-background-tertiary: var(--tertiary-600);
    --tag-background-tertiary-light: var(--tertiary-50);
    --tag-border-neutral: theme(colors.neutral.300);
    --tag-border-neutral-light: theme(colors.neutral.800);
    --tag-border-on-color: theme(colors.alpha.white-60);
    --tag-border-success: theme(colors.green.700);
    --tag-border-success-light: theme(colors.green.200);
    --tag-border-info: theme(colors.blue.700);
    --tag-border-info-light: theme(colors.blue.200);
    --tag-border-warning: theme(colors.marigold.700);
    --tag-border-warning-light: theme(colors.marigold.200);
    --tag-border-error: theme(colors.red.700);
    --tag-border-error-light: theme(colors.red.200);
    --tag-border-primary: var(--primary-700);
    --tag-border-primary-light: var(--primary-200);
    --tag-border-secondary: var(--secondary-700);
    --tag-border-secondary-light: var(--secondary-200);
    --tag-border-tertiary: var(--tertiary-700);
    --tag-border-tertiary-light: var(--tertiary-200);
    --tag-dot: theme(colors.alpha.white-60);

    /* icon */
    --icon-oncolor: theme(colors.white);
    --icon-default: theme(colors.white);
    --icon-default-500: theme(colors.neutral.200);
    --icon-default-400: theme(colors.neutral.500);
    --icon-primary: var(--primary-400);
    --icon-primary-light: var(--primary-50);
    --icon-primary-400: var(--primary-200);
    --icon-neutral: theme(colors.neutral.400);
    --icon-neutral-light: theme(colors.neutral.950);
    --icon-secondary: var(--secondary-400);
    --icon-secondary-light: var(--secondary-50);
    --icon-tertiary: var(--tertiary-400);
    --icon-tertiary-light: var(--tertiary-50);
    --icon-success: theme(colors.green.400);
    --icon-success-light: theme(colors.green.50);
    --icon-info: theme(colors.blue.400);
    --icon-info-light: theme(colors.blue.50);
    --icon-warning: theme(colors.marigold.400);
    --icon-warning-light: theme(colors.marigold.50);
    --icon-error: theme(colors.red.400);
    --icon-error-light: theme(colors.red.50);
    --background-warning-light: var(--background-warning-10);
    --background-error-light: var(--background-error-10);
    --background-primary-light: var(--background-primary-10);
    --background-info-light: var(--background-info-10);
    --background-success-light: var(--background-success-10);
    --unselected-tab-icon: theme(colors.neutral.100);
    --icon-default-disabled: theme(colors.white);
    --icon-default-oncolor-disabled: theme(colors.white);

    /* background  */

    --background-white: theme(colors.neutral.950);
    --background-body: theme(colors.neutral.900);
    --background-menu: theme(colors.neutral.800);
    --background-muted: theme(colors.neutral.700);
    --background-card: theme(colors.neutral.800);
    --surface-oncolor: theme(colors.white);
    --background-black: theme(colors.white);
    --background-neutral-800: theme(colors.neutral.600);
    --background-neutral-400: theme(colors.neutral.400);
    --background-neutral-300: theme(colors.neutral.500);
    --background-neutral-200: theme(colors.neutral.600);
    --background-neutral-100: theme(colors.neutral.800);
    --background-neutral-50: theme(colors.neutral.900);
    --background-neutral-25: theme(colors.neutral.950);
    --background-primary: var(--primary-600);
    --background-primary-400: var(--primary-400);
    --background-primary-200: theme(colors.neutral.700);
    --background-primary-50: theme(colors.alpha.Alpha-primary-10);
    --background-primary-25: var(--primary-950);
    --background-secondary-default: var(--secondary-600);
    --background-secondary-50: theme(colors.neutral.800);
    --background-secondary-25: theme(colors.neutral.900);
    --background-tertiary: var(--tertiary-600);
    --background-tertiary-50: theme(colors.neutral.800);
    --background-tertiary-25: theme(colors.neutral.900);
    --background-success: theme(colors.green.600);
    --background-success-50: theme(colors.alpha.Alpha-success-20);
    --background-success-25: theme(colors.alpha.Alpha-primary-10);
    --background-info: theme(colors.blue.600);
    --background-info-50: theme(colors.blue.50);
    --background-info-25: theme(colors.blue.25);
    --background-warning: theme(colors.marigold.600);
    --background-warning-50: theme(colors.alpha.Alpha-warning-20);
    --background-warning-25: theme(colors.alpha.Alpha-warning-10);
    --background-error: theme(colors.red.600);
    --background-error-50: theme(colors.alpha.Alpha-error-20);
    --background-error-25: theme(colors.alpha.Alpha-error-10);
    --background-SA-Flag: theme(colors.green.600);
    --background-SA-Flag-50: theme(colors.neutral.800);
    --background-SA-Flag-25: theme(colors.neutral.900);
    --background-notification-white: theme(colors.neutral.900);
    --background-nav-header: var(--primary-800);
    --background-disabled: theme(colors.neutral.700);
    --background-disabled-primary: var(--primary-200);
    --background-inverse-disabled: theme(colors.neutral.700);

    /* button */
    /* Neutral Background Variables - Dark Theme */
    --background-neutral-default: theme(colors.neutral.800);
    --background-neutral-hovered: theme(colors.neutral.700);
    --background-neutral-pressed: theme(colors.neutral.600);
    --background-neutral-selected: theme(colors.neutral.700);
    --background-neutral-focused: theme(colors.neutral.800);
    /* Background Oncolor - Dark Theme */
    --background-oncolor-default: theme(colors.black);
    --background-oncolor-hovered: theme(colors.alpha.black-80);
    --background-oncolor-pressed: theme(colors.alpha.black-60);
    --background-oncolor-selected: theme(colors.alpha.black-70);
    --background-oncolor-focused: theme(colors.alpha.black-100);
    /* Background Transparent - Dark Theme */
    --background-transparent-default: theme(colors.alpha.black-0);
    --background-transparent-hovered: theme(colors.alpha.black-20);
    --background-transparent-pressed: theme(colors.alpha.black-40);
    --background-transparent-selected: theme(colors.alpha.black-30);
    --background-transparent-focused: theme(colors.alpha.black-0);
    /* Background Disabled - Dark Theme */
    --background-disabled-oncolor: theme(colors.alpha.black-20);

    /* link */
    --link-neutral: theme(colors.neutral.200);
    --link-neutral-hovered: theme(colors.neutral.400);
    --link-neutral-visited: theme(colors.neutral.300);
    --link-neutral-focused: theme(colors.neutral.200);
    --link-neutral-pressed: theme(colors.neutral.500);
    --link-icon-neutral-hovered: theme(colors.neutral.400);
    --link-icon-neutral-pressed: theme(colors.neutral.500);
    --link-icon-neutral-focused: theme(colors.neutral.200);
    --link-icon-neutral-visited: theme(colors.neutral.300);
    --link-icon-oncolor-hovered: theme(colors.alpha.black-80);
    --link-icon-oncolor-pressed: theme(colors.alpha.black-60);
    --link-icon-oncolor-visited: theme(colors.alpha.black-90);
    --link-icon-oncolor-disabled: theme(colors.alpha.black-30);

    /* table */
    --table-background-row-alt: theme(colors.white);
    --table-background-row-hovered: theme(colors.neutral.100);
    --table-background-row-select: var(--primary-50);
    --table-background-row-selected-hovered: var(--primary-50);
    --table-border-row-selected-hovered: theme(colors.neutral.100);
    --table-background-row: theme(colors.neutral.900);
    --table-background-header: theme(colors.neutral.900);
    --table-background-hover-selected: theme(colors.neutral.900);
    --table-background-disabled: var(--background-disabled);
    --table-text-body: theme(colors.white);
    --table-text-head: theme(colors.neutral.300);
    --table-cell-border-inverse: theme(colors.white);
    --table-cell-border: theme(colors.neutral.600);
}

* {
    @apply border-border-primary;
}

html {
    @apply scroll-smooth text-[55%] sm:text-[62.5%];
}

body {
    @apply bg-background-white font-IBMPlexSans text-base text-foreground;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 0s 600000s,
        color 0s 600000s !important;
}

.title-01 {
    @apply text-[2.2rem] leading-[3.2rem] xl:text-[2.4rem];
}
.title-02 {
    @apply text-[2.4rem] leading-[3.2rem] xl:text-[3rem] xl:leading-[3.8rem];
}
.title-03 {
    @apply text-[2.8rem] leading-[3.8rem] md:text-[3rem]  xl:text-[3.6rem] xl:leading-[4.4rem];
}
.display-01 {
    @apply text-[3.2rem] leading-[4rem] xl:text-[4.8rem] xl:leading-[6rem];
}
.display-02 {
    @apply text-[3rem]  leading-[6rem] md:text-[3.6rem] md:leading-[4.4rem] xl:text-[4.8rem] xl:leading-[6rem] 2xl:text-[6rem] 2xl:leading-[7.2rem];
}
.display-03 {
    @apply text-[3.6rem] leading-[4.4rem] md:text-[4.8rem] md:leading-[6rem] xl:text-[6rem] xl:leading-[9rem] 2xl:text-[7.2rem];
}
.dsgrid {
    @apply grid grid-cols-4 gap-space-04 md:grid-cols-8 lg:grid-cols-12 lg:gap-space-05;
}

.MuiButtonBase-root.MuiPickersDay-root {
    @apply font-IBMPlexSans text-body-02 text-text-default  hover:bg-primary-container disabled:!text-disabled sm:size-space-08;
}
.MuiPickersCalendarHeader-label,
.MuiDayCalendar-header .MuiTypography-caption.MuiDayCalendar-weekDayLabel {
    @apply font-IBMPlexSans;
}
.MuiDayCalendar-header .MuiTypography-caption.MuiDayCalendar-weekDayLabel {
    @apply sm:w-space-08;
}
.MuiButtonBase-root.MuiPickersDay-root.Mui-selected,
.MuiButtonBase-root.MuiPickersDay-root:focus.Mui-selected {
    @apply bg-primary font-normal;
}
.MuiDayCalendar-header .MuiTypography-caption {
    @apply text-body-02 text-text-paragraph-secondary;
}
.MuiPickersCalendarHeader-root {
    @apply justify-between;
}
.MuiPickersCalendarHeader-root > div {
    @apply m-0 text-body-02;
}
.MuiButtonBase-root.MuiIconButton-root {
    @apply text-body-02 dark:text-foreground ltr:!rotate-0 rtl:rotate-180;
}
.MuiButtonBase-root.MuiIconButton-root svg {
    @apply sm:size-space-05;
}

.MuiPickersYear-root .MuiPickersYear-yearButton {
    @apply text-body-02 hover:bg-primary-container;
}
.MuiPickersYear-root .MuiPickersYear-yearButton.Mui-selected {
    @apply !bg-primary;
}

.Mui-disabled.MuiPickersDay-today {
    @apply !border-transparent;
}
.MuiButtonBase-root.MuiPickersDay-root.Mui-selected:hover {
    @apply !bg-primary-dark;
}
.MuiDateCalendar-root {
    @apply sm:!h-[420px] sm:!max-h-[400px] sm:!w-[392px];
}

html[dir='ltr'] .MuiDateCalendar-root {
    direction: ltr;
}

html[dir='rtl'] .MuiDateCalendar-root {
    direction: rtl;
}

.MuiDayCalendar-weekContainer {
    margin: 4px 0;
}
.MuiDayCalendar-weekContainer .MuiPickersDay-root {
    @apply rounded-full sm:size-space-08;
}
.MuiDayCalendar-weekContainer .MuiPickersDay-root:hover {
    @apply bg-background-neutral-200;
}
.MuiDayCalendar-weekContainer .MuiPickersDay-root:active {
    @apply bg-background-neutral-300;
}
.MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition {
    @apply sm:min-h-[300px];
}

.MuiButtonBase-root.MuiPickersDay-today {
    @apply rounded-full border-2 !border-border-primary-default text-text-primary;
}

.MuiButtonBase-root.MuiPickersDay-today:hover {
    @apply bg-primary-container;
}
.MuiPickersFadeTransitionGroup-root .MuiYearCalendar-root {
    @apply w-full;
}

@counter-style arabic-letters {
    system: alphabetic;
    symbols: أ ب ج د ه و ز ح ط ي ك ل م ن س ع ف ص ق ر ش ت ث خ ذ ض ظ غ;
    suffix: '.  ';
}

.MuiDigitalClock-root .MuiDigitalClock-list .MuiMenuItem-root {
    @apply text-body-01;
}
.MuiDigitalClock-root .MuiDigitalClock-list .MuiMenuItem-root:hover {
    @apply bg-primary-container;
}
.MuiDigitalClock-root .MuiDigitalClock-list .MuiMenuItem-root.Mui-selected {
    @apply bg-primary;
}
